*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: rgba(32,38,50,255);
    padding: 0 6rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(49,58,73,255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:1.5rem 3rem;
}

.title{
    color: hsl(150, 100%, 66%);
}

.quote{
    color:hsl(193, 38%, 86%);
    font-size: 28px;
    text-align: center;
}

button{
    background-color: hsl(150, 100%, 66%);
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

